<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 作用域 -->
    <bean id="student" class="MySpring.Beans.Student"/>
    <bean id="student1" class="MySpring.Beans.Student" scope="prototype"/>

    <!-- 动态工厂和静态工厂 -->
    <bean id="dyFactory" class="Framework.Utils.DyFactory"/>
    <bean id="studentByDyFactory" factory-bean="dyFactory" factory-method="dyInitStudent"/>
    <bean id="studentByStaticFactory" class="Framework.Utils.StaticFactory" factory-method="staticInitStudent"/>


</beans>